.background {
    background: url("./Components/Images/wallpaperflare.com_wallpaper (10).jpg") no-repeat center/cover;
}
*{
    margin: 0;
    padding: 0;
}

/*.App {*/
/*    padding: 30px;*/
/*    display: flex;*/
/*}*/

/*.App > div {*/
/*    margin-right: 50px;*/
/*}*/

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: aquamarine;
}

.is-done {
    opacity: 0.3;
    color: black;
}